
.main .post-item {
  margin-bottom: 35px;
}

.main .post-date {
  margin-bottom: 5px;
}

.main .post-title {
  margin: 0;
  padding: 0;
  border: 0;
}

.main .post-hr {
  margin: 12px 0;
}